@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Project-help</title>
  <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <link rel="stylesheet" href="~/Identity/css/site.css" />
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/i8is86u1c7ifdwy/background.css" />

  <style>
    body {
      background: linear-gradient(to bottom, #0094ff 0%,#0094ff 50%,#000000 50%,white 50%,white 100%); /* W3C */
      overflow: hidden;
    }
    .box {
      background-color: #0e89e2;
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0px 3px 21px 0px rgba(255,255,255,1);
      -moz-box-shadow: 0px 3px 21px 0px rgba(255,255,255,1);
      box-shadow: 0px 3px 21px 0px rgba(255,255,255,1);
    }
    a {
      text-decoration: none !important;
      color: #fff !important;
    }
  </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
