@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.videoContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  background-attachment: scroll;
  overflow: hidden;
}
.videoContainer video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.videoContainer .overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: black;
  opacity: 0.7;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  transition: all 0.4s;
  background-color: transparent;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar.active {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

@media (max-width: 991.98px) {
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}
